:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgb(255 255 255 / 87%);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100svh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  --nav-height: 2.5rem;
  --panel-border-radius: 1rem;
}

a, a > p {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover, a > p {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }
}

.leaflet-popup-content {
  overflow-y: auto;
  margin-top: 20px !important;
  margin-right: 4px !important;
  padding-right: 12px;
  width: min(300px, 80vw) !important;
  max-height: min(420px, 60vh) !important;
}

.leaflet-div-icon {
  background: none;
  border: none;
}